#**iNeuron**
## Python (Basics) Assignment No. 1

- Batch - Full Stack Data Science Bootcamp 2.0
- Name - **Prerit Sharma**
- Email ID - **praritsharma7@gmail.com**

------------------------------------------------------------------------------

## Q1.) In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
(a) 'hello'
-(b) -87.8
-(c) - 
-(d) / 
-(e) +	
-(f) 6

####Ans of Q1.).....

In [ ]:
# (a) 
# 'hello' is a value (String type of value) as it's in '_' single/double qutoes format.
#  ex:

a = 'hello'
print(type(a))

<class 'str'>

In [ ]:
# (b)
# -87.8 is a value (float type of value) as it's having float value.
# ex:
b = -87.8
print(type(b))

<class 'float'>

#### (c) **- (Minus)** is an expression (Mathematical expression) as it's a mathematical operator.
#### (d) **/ (Divide)** is an expression (Mathematical expression) as it's a mathematical operator.
#### (e) **+ (Addition)** is an expression (Mathematical expression) as it's a mathematical operator.

In [ ]:
# (f)
# 6 is a value (Integer type of value) as it's a numeric digit.
# ex:

f = 6
print(type(f))

<class 'int'>

--------------------------------------------------------------------------------------

## Q.2) What is the difference between string and variable?

### Ans -  

- String is a datatype in Python and other programming languages that consist both alphabatic and numeric values in it but it should always be in either single quotes (' ') or in double quotes (" "). 
- Whereas variable is a name or group of names in alphabatic or numeric characters in which we can assign a value.

-------------------------------------------------------------------------

## Q.3) Describe three different data types.

### Ans 
- There are several datatypes in Python programming language. Some common and most used are given below... 
- **Numeric data types : int, float, complex.**
- **String data types : str**
- **Boolean type : bool**


- 1) int - To define numeric values, ex: (45, 55, 100).
- 2) float - To define numeric values with decimal, ex: (95.55, 12.36, 80.2)
- 3) complex - To define Complex values, ex: (5+2j)
- 4) str - To define String values but in (' ') or in (" "), ex: ("Mayur", "Soni")
- 5) bool - To define True or False values.

----------------------------------------------------------------------------

## Q.4) What is an expression made up of? What do all expressions do ?

### Ans 
- An expression is made up of Arithmatic, Logical, Equality, Relational etc etc Operators of Mathematics, they performs several types of mathematical and logical operations on values as directed. Some of them are given below...

- Arithmatic Expresssion - (+) (-) (*) (/) (//) (%) (**)
- Logical Expression - (AND) (OR) (NOT) 
- Relational (Comparison) Expression - (> Greater than) (< Less than) (== Equal to) (>= Greater than and equal to) (<= Less than and equal to) (!= Not equal to)
- Equality Expression - (is) (is not) (== is equal to) (!= is not equal to)

-------------------------------------------------------------------------

## Q.5) This assignment statements, like spam = 10. What is the difference between an expression and a statement ?

### Ans - 
- Expression only contain identifier and operators where operator include arithmetic, logic, realtional (Comparison) and boolean separator. 
- Whereas Statement is a line or group of lines which are commands that we give a function to perform like. 

Ex: 
- (+ - * /) (AND OR NOT) ( > < >= <= != ) these are expressions.
- spam = 10 is a statement.

-----------------------------------------------------------------------------

## Q.6) After running the following code, what does the variable bacon contain?


> bacon = 24

> bacon + 1

In [ ]:
# Answer -

bacon = 24
bacon + 1

25

### Ans - **After running the following code, variable bacon contain value = 25**

----------------------------------------------------------------------------

## Q.7) What should the values of the following two terms be?
> 'spam' + 'spamspam'

> 'spam' * 3

In [ ]:
# Ans - 

'spam' + 'spamspam'

# it concate both the values.

'spamspamspam'

In [ ]:
'spam'*3

# it simply print the value in the times which it's been multiplied with.

'spamspamspam'

------------------------------------------------------------------------------

## Q.8) Why is eggs a valid variable name while 100 is invalid ?

### Ans - 
- eggs can be a valid variable name as it's a group of alphabatic characters which Python allows as a variable name and it's also not a reserve keyword.
- Whereas 100 can not be a variable name as its a literal integer value and Python does not allow literal values as a variable name.

------------------------------------------------------------------------------

## Q.9) What three functions can be used to get the integer, floating-point number, or string version of a value ?

### Ans - 
- To get an integer value we use **int()** function.
- To get a float - point value we use **float()** function.
- To get a string version of a value, we use **str()** function.

------------------------------------------------------------------

## Q.10) Why does this expression cause an error? How can you fix it ?
> 'I have eaten ' + 99 + ' burritos.'


### Ans - This expression is causing error because - 
- We can only concatenate integer to integer or string to string values.
- To fix this error we must change the datatype of that perticular value. 
- As shown in the given example below.... we changed the datatype of value 99 from int (by default) to str (String) so that we can add this 99 to the other values as str(99).

In [ ]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

------------------------------------------------------------End------------------------------------------------------------